<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head') %>
</head>
<body>
    
    <%- include('./partials/scripts') %> 
    
    <%- include('./partials/nav') %>    

    <p>  <%= blog.body %> </p>

</body>
</html>